.spacer{
    width: 100%
}

.name-field, .supplier-area  {
    float:left;
    width: 27%;
}

.upload-area {
    float: left;;
}
.aaa {
    float: left;
}

.input-name {
    max-width: 20%;
    float: left;
    margin-right: 5%;
}

.suplier-change {
    width: 20%;
    float: right;
    margin-right: 5%;
}